<!DOCTYPE html>
<html>
<head>
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/article.css">
        <!-- Add any head elements like CSS links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@900&family=Rochester&family=Saira+Stencil+One&display=swap" rel="stylesheet">
    <!-- Add any head elements like CSS links -->
</head>
<body>
    <header>
        <nav>
            <!-- Navigation links -->
            <a href="/">~</a> <a href="/archive">~/archive</a> <a href="/tags">~/tags</a> <a href="/about">~/about</a>
        </nav>
    </header>
    <main>
        <section>
        <h1 class="title">{{{Title}}}</h1>
        <div class="snip">{{{HumanDate}}} - {{{WordCount}}} words - {{{ReadEstimate}}} mins</div>
        <div class="content">{{{content}}}</div>
        <div class="tags">{{{tags}}}</div>
        </section>
    </main>
    <footer>
        <!-- Your site's footer content -->
    </footer>
</body>
</html>
