<!DOCTYPE html>
<html>

<head>
    <title>InterVolz Homepage</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/homepage.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:wght@900&family=Rochester&family=Saira+Stencil+One&display=swap"
        rel="stylesheet">

    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Web Security -->
    <meta http-equiv="Strict-Transport-Security" content="max-age=31536000; includeSubDomains">
    <meta name="Content-Security-Policy"
        content="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline'; img-src 'self' data:; font-src 'self';">
    <meta name="X-Frame-Options" content="SAMEORIGIN">
    <meta name="X-Content-Type-Options" content="nosniff">
    <meta name="Referrer-Policy" content="strict-origin-when-cross-origin">
    <meta name="Permissions-Policy" content="geolocation=(), microphone=(), camera=()">
</head>

<body>
    <header>
        <nav>
            <!-- Navigation links -->
            <a href="/">~</a> <a href="/archive">~/archive</a> <a href="/tags">~/tags</a> <a href="/about">~/about</a>
        </nav>

    </header>
    <main class="content">
        <section class="profile">
            <h1 class="title">InterVolz</h1>
            <div class="social-links">
                <!-- Social media links -->
                <a href="https://github.com/InterVolz">Github</a>
                <!-- <a href="#">Twitter</a> -->
                <!-- <a href="#">Stack Overflow</a> -->
            </div>
        </section>
        <section class="latest-articles">
            {{#each articles}}
            <article>
                <a href="{{url}}">
                    <div class="title_box">
                        <div class="title">{{title}}</div>
                        <div class="date"><time datetime="{{date}}">{{humandate}}</time></div>
                    </div>
                    <div class="tldr">{{tldr}}</div>
                </a>
            </article>
            {{/each}}
            {{!-- button here for more articles --}}
            <div class="older_posts_container">
                <a href="/archive" class="more-articles-button">Older Posts</a>
            </div>

        </section>
    </main>
    <footer>
        <!-- Footer content -->
    </footer>
</body>

</html>